<h1>Formulario Angular</h1>
<form (ngSubmit)="OnRegister()" #Form ="ngForm">
<div class="input-group">
 <label for="name">Name</label>
 <input type="text" name="name" required id="name" [(ngModel)]="registro.name" />
 <p>Error Message Name</p>
</div>
<div class="input-group">
 <label for="email">Email</label>
 <input type="text" name="email" id="email" required [(ngModel)]="registro.email" />
 <p>Error Message Email</p>
</div>
<div class="input-group">
 <label for="password">Password</label>
 <input type="password" name="password" id="password" required [(ngModel)]="registro.password" />
 <p>Error Message Password</p>
</div>
<button type="submit" [disabled]="Form.invalid">Registrar</button>
</form>
